<link rel="stylesheet" href="<%= url %>/views/highlight/highlightjs/dracula.css" />
<link rel="stylesheet" href="<%= url %>/views/highlight/style.css" />
<script src="<%= url %>/views/highlight/main.js" defer></script>

<div class="container-fluid">
  <div class="body align-items-center d-flex justify-content-center">
    <div class="wadah">
      <p class="based">
        <label class="switch icon">
          <input id="toggle" type="checkbox" />
          <span class="slider round"></span>
        </label>
        Baileys
      </p>
      <div class="code-wrapper">
        <pre>
          <code id="code">
const {
    WAConnection,
    MessageType
} = require('@adiwajshing/baileys')
const { text, extendedText, contact, location, liveLocation, image, video, sticker, document, audio, product } = MessageType
let fetch = require("node-fetch")
const type = Object.keys(m.message)[0]
const from = m.key.remoteJid
body = (type === 'conversation' && m.message.conversation.startsWith(prefix)) ? m.message.conversation : (type == 'imageMessage') && m.message.imageMessage.caption.startsWith(prefix) ? m.message.imageMessage.caption : (type == 'videoMessage') && m.message.videoMessage.caption.startsWith(prefix) ? m.message.videoMessage.caption : (type == 'extendedTextMessage') && m.message.extendedTextMessage.text.startsWith(prefix) ? m.message.extendedTextMessage.text : ''
const args = body.trim().split(/ +/).slice(1)
const command = body.slice(1).trim().split(/ +/).shift().toLowerCase()
async function starts() {
  const client = new WAConnection()
  client.on('chat-update', async (m) => {
    switch(command) {
      case 'ig':
        let res = await fetch(`<%= url %>/dl/ig?link=${args[0]}`)
        if (res.status !== 200) {
          throw "*Sedang ada emror!*"
        }
        let json = await res.json()
        let { uploadBy, full_name, timeUpload, img, is_video, video_url, is_audio, view_count, play_count, jumlah_like, caption } = json.data
        let text
        if (is_video) {
          text = `Uploaded by: ${full_name} *(@${uploadBy})*\nCaption:\n${caption}\nLike count : ${jumlah_like}\nView count : ${view_count}\nPlay Count : ${play_count}\nJenis video : ${
            is_audio ? "Bersuara" : "tidak bersuara"
          }\nDi upload pada waktu : ${timeUpload}\n`
        } else {
          text = `Uploaded by: ${full_name} *(@${uploadBy})*\nCaption:\n${caption}\nLike count : ${jumlah_like}\nDi upload pada waktu : ${timeUpload}\n`
        }
        client.sendMessage(from, is_video ? video_url : img[1].src, is_video ? video : image, { quoted: from, caption: m })
        break
    }
  })
}
starts()

// note : Silahkan sesuaikan dengan sc nya masing-masing,
// karna kemungkinan ada perbedaan nama variabel
            </code>
        </pre>
        <span id="code_pro" class="d-none">
async test () => {
  let fetch = require("node-fetch")
  let res = await fetch("<%= url %>/dl/ig?link=https://www.instagram.com/p/CMzdZ1UBL0d/")
  let json = await res.json()
  console.log(json)
}
test()

// versi simple
        </span>
        <span id="code_noob" class="d-none">
const {
    WAConnection,
    MessageType
} = require('@adiwajshing/baileys')
const { text, extendedText, contact, location, liveLocation, image, video, sticker, document, audio, product } = MessageType
let fetch = require("node-fetch")
const type = Object.keys(m.message)[0]
const from = m.key.remoteJid
body = (type === 'conversation' && m.message.conversation.startsWith(prefix)) ? m.message.conversation : (type == 'imageMessage') && m.message.imageMessage.caption.startsWith(prefix) ? m.message.imageMessage.caption : (type == 'videoMessage') && m.message.videoMessage.caption.startsWith(prefix) ? m.message.videoMessage.caption : (type == 'extendedTextMessage') && m.message.extendedTextMessage.text.startsWith(prefix) ? m.message.extendedTextMessage.text : ''
const args = body.trim().split(/ +/).slice(1)
const command = body.slice(1).trim().split(/ +/).shift().toLowerCase()
async function starts() {
  const client = new WAConnection()
  client.on('chat-update', async (m) => {
    switch(command) {
      case 'ig':
        let res = await fetch(`<%= url %>/dl/ig?link=${args[0]}`)
        if (res.status !== 200) {
          throw "*Sedang ada emror!*"
        }
        let json = await res.json()
        let { uploadBy, full_name, timeUpload, img, is_video, video_url, is_audio, view_count, play_count, jumlah_like, caption } = json.data
        let text
        if (is_video) {
          text = `Uploaded by: ${full_name} *(@${uploadBy})*\nCaption:\n${caption}\nLike count : ${jumlah_like}\nView count : ${view_count}\nPlay Count : ${play_count}\nJenis video : ${
            is_audio ? "Bersuara" : "tidak bersuara"
          }\nDi upload pada waktu : ${timeUpload}\n`
        } else {
          text = `Uploaded by: ${full_name} *(@${uploadBy})*\nCaption:\n${caption}\nLike count : ${jumlah_like}\nDi upload pada waktu : ${timeUpload}\n`
        }
        client.sendMessage(from, is_video ? video_url : img[1].src, is_video ? video : image, { quoted: from, caption: m })
        break
    }
  })
}
starts()

// note : Silahkan sesuaikan dengan sc nya masing-masing,
// karna kemungkinan ada perbedaan nama variabel
        </span>
        <button id="copy-button">Copy</button>
      </div>
    </div>
  </div>
</div>

<script src="<%= url %>/views/highlight/highlightjs/highlight.pack.js"></script>