<link rel="stylesheet" href="<%= url %>/views/highlight/highlightjs/dracula.css" />
<link rel="stylesheet" href="<%= url %>/views/highlight/style.css" />
<script src="<%= url %>/views/highlight/main.js" defer></script>

<div class="container-fluid">
  <div class="body align-items-center d-flex justify-content-center">
    <div class="wadah">
      <p class="based">
        <label class="switch icon">
          <input id="toggle" type="checkbox" />
          <span class="slider round"></span>
        </label>
        Baileys
      </p>
      <div class="code-wrapper">
        <pre>
          <code id="code">
const {
    WAConnection,
    MessageType
} = require('@adiwajshing/baileys')
const { extendedText, image } = MessageType
let fetch = require("node-fetch")
const type = Object.keys(m.message)[0]
const from = m.key.remoteJid
body = (type === 'conversation' && m.message.conversation.startsWith(prefix)) ? m.message.conversation : (type == 'imageMessage') && m.message.imageMessage.caption.startsWith(prefix) ? m.message.imageMessage.caption : (type == 'videoMessage') && m.message.videoMessage.caption.startsWith(prefix) ? m.message.videoMessage.caption : (type == 'extendedTextMessage') && m.message.extendedTextMessage.text.startsWith(prefix) ? m.message.extendedTextMessage.text : ''
const args = body.trim().split(/ +/).slice(1)
const command = body.slice(1).trim().split(/ +/).shift().toLowerCase()
async function starts() {
  const client = new WAConnection()
  client.on('chat-update', async (m) => {
    switch(command) {
      case 'igstalk':
        let res = await fetch(`<%= url %>/stalk/ig?username=${args[0]}`)
        if (res.status !== 200) {
          throw "*Sedang ada emror!*"
        }
        let json = await res.json()
        let { username, full_name, bio, akun_private, akun_terverifikasi, followers, following, jumlah_postingan, external_url, profile } = json.data
        let pp = profile.hd || profile.no_hd
        let caption = `\n${full_name} *(@${username})* ${akun_terverifikasi ? "✓" : ""}\nhttps://instagram.com/${username}\n${ akun_private ? "Post Hidden by User" : "*" + media_count + "* Post(s)"}\nFollowing *${following}* User(s)\n*${followers}*Followers\n*Bio:*\n${bio}${external_url ? "\n*External URL:* " + external_url : ""}
        `.trim()
        if (pp) client.sendMessage(m.chat, pp, image, { caption, quoted: m })
        else client.sendMessage(m.chat, caption, extendedText, { quoted: m })
        break
    }
  })
}
starts()

// note : Silahkan sesuaikan dengan sc nya masing-masing,
// karna kemungkinan ada perbedaan nama variabel
            </code>
        </pre>
        <span id="code_pro" class="d-none">
async test () => {
  let fetch = require("node-fetch")
  let res = await fetch("<%= url %>/stalk/ig?username=query.gani")
  let json = await res.json()
  console.log(json)
}
test()

// versi simple
        </span>
        <span id="code_noob" class="d-none">
const {
    WAConnection,
    MessageType
} = require('@adiwajshing/baileys')
const { extendedText, image } = MessageType
let fetch = require("node-fetch")
const type = Object.keys(m.message)[0]
const from = m.key.remoteJid
body = (type === 'conversation' && m.message.conversation.startsWith(prefix)) ? m.message.conversation : (type == 'imageMessage') && m.message.imageMessage.caption.startsWith(prefix) ? m.message.imageMessage.caption : (type == 'videoMessage') && m.message.videoMessage.caption.startsWith(prefix) ? m.message.videoMessage.caption : (type == 'extendedTextMessage') && m.message.extendedTextMessage.text.startsWith(prefix) ? m.message.extendedTextMessage.text : ''
const args = body.trim().split(/ +/).slice(1)
const command = body.slice(1).trim().split(/ +/).shift().toLowerCase()
async function starts() {
  const client = new WAConnection()
  client.on('chat-update', async (m) => {
    switch(command) {
      case 'igstalk':
        let res = await fetch(`<%= url %>/stalk/ig?username=${args[0]}`)
        if (res.status !== 200) {
          throw "*Sedang ada emror!*"
        }
        let json = await res.json()
        let { username, full_name, bio, akun_private, akun_terverifikasi, followers, following, jumlah_postingan, external_url, profile } = json.data
        let pp = profile.hd || profile.no_hd
        let caption = `\n${full_name} *(@${username})* ${akun_terverifikasi ? "✓" : ""}\nhttps://instagram.com/${username}\n${ akun_private ? "Post Hidden by User" : "*" + media_count + "* Post(s)"}\nFollowing *${following}* User(s)\n*${followers}*Followers\n*Bio:*\n${bio}${external_url ? "\n*External URL:* " + external_url : ""}
        `.trim()
        if (pp) client.sendMessage(m.chat, pp, image, { caption, quoted: m })
        else client.sendMessage(m.chat, caption, extendedText, { quoted: m })
        break
    }
  })
}
starts()

// note : Silahkan sesuaikan dengan sc nya masing-masing,
// karna kemungkinan ada perbedaan nama variabel
        </span>
        <button id="copy-button">Copy</button>
      </div>
    </div>
  </div>
</div>

<script src="<%= url %>/views/highlight/highlightjs/highlight.pack.js"></script>