<link rel="stylesheet" href="<%= url %>/views/highlight/highlightjs/dracula.css" />
<link rel="stylesheet" href="<%= url %>/views/highlight/style.css" />
<script src="<%= url %>/views/highlight/main.js" defer></script>

<div class="container-fluid">
  <div class="body align-items-center d-flex justify-content-center">
    <div class="wadah">
      <p class="based">
        <label class="switch icon">
          <input id="toggle" type="checkbox" />
          <span class="slider round"></span>
        </label>
        Baileys
      </p>
      <div class="code-wrapper">
        <pre>
          <code id="code">
let fetch = require("node-fetch")

let timeout = 120000
let poin = 1000
let handler = async (m, { conn, usedPrefix }) => {
  conn.tebakgambar = conn.tebakgambar ? conn.tebakgambar : {}
  let id = m.chat
  if (id in conn.tebakgambar) {
    conn.reply(m.chat, "Masih ada soal belum terjawab di chat ini", conn.tebakgambar[id][0])
    throw false
  }
  let res = await fetch(global.API("shinoa", "/fun/tebakGambar", {}, ""))
  if (res.status !== 200) throw await res.text()
  let json = await res.json()
  if (!json.status) throw json
  let caption = `Timeout *${(timeout / 1000).toFixed(2)} detik*\nKetik ${usedPrefix}hint untuk hint\nBonus: ${poin} XP
      `.trim()
  conn.tebakgambar[id] = [
    await conn.sendFile(m.chat, json.data.img, "tebakgambar.jpg", caption, m),
    json.data,
    poin,
    setTimeout(() => {
      if (conn.tebakgambar[id]) conn.reply(m.chat, `Waktu habis!\nJawabannya adalah *${json.data.jawaban}*`, conn.tebakgambar[id][0])
      delete conn.tebakgambar[id]
    }, timeout),
  ]
}
handler.help = ["tebakgambar"]
handler.tags = ["game"]
handler.command = /^tebakgambar/i

module.exports = handler

// paste code di atas di plugins/tebakgambar.js
// note : Karna contoh disini adalah contoh casenya nurutomo,
// jadi silahkan sesuaikan dengan sc nya masing-masing,
// karna kemungkinan ada perbedaan nama variabel

let handler = (m) => m
handler.before = async function (m) {
  let id = m.chat
  if (!m.quoted || !m.quoted.fromMe || !m.quoted.isBaileys || !/Ketik.*hint/i.test(m.quoted.text)) return
  conn.tebakgambar = conn.tebakgambar ? conn.tebakgambar : {}
  if (!(id in conn.tebakgambar)) return m.reply("Soal itu telah berakhir")
  if (m.quoted.id == conn.tebakgambar[id][0].id) {
    let json = JSON.parse(JSON.stringify(conn.tebakgambar[id][1]))
    if (m.text.toLowerCase() == json.jawaban.toLowerCase()) {
      global.DATABASE._data.users[m.sender].exp += conn.tebakgambar[id][2]
      m.reply(`*Benar!*\n+${conn.tebakgambar[id][2]} XP`)
      clearTimeout(conn.tebakgambar[id][3])
      delete conn.tebakgambar[id]
    } else if (m.text.toLowerCase().endsWith(json.jawaban.split` `[1])) m.reply(`*Dikit Lagi!*`)
    else m.reply(`*Salah!*`)
  }
}
handler.exp = 0

module.exports = handler

// paste code di atas di plugins/tebakgambar_answer.js
            </code>
        </pre>
        <span id="code_pro" class="d-none">
let test = async () => {
  let fetch = require("node-fetch")
  let res = await fetch("<%= url %>/fun/tebakgambar")
  let json = await res.json()
  console.log(json)
}
test()

// versi simple
        </span>
        <span id="code_noob" class="d-none">
let fetch = require("node-fetch")

let timeout = 120000
let poin = 1000
let handler = async (m, { conn, usedPrefix }) => {
  conn.tebakgambar = conn.tebakgambar ? conn.tebakgambar : {}
  let id = m.chat
  if (id in conn.tebakgambar) {
    conn.reply(m.chat, "Masih ada soal belum terjawab di chat ini", conn.tebakgambar[id][0])
    throw false
  }
  let res = await fetch(global.API("shinoa", "/fun/tebakGambar", {}, ""))
  if (res.status !== 200) throw await res.text()
  let json = await res.json()
  if (!json.status) throw json
  let caption = `Timeout *${(timeout / 1000).toFixed(2)} detik*\nKetik ${usedPrefix}hint untuk hint\nBonus: ${poin} XP
      `.trim()
  conn.tebakgambar[id] = [
    await conn.sendFile(m.chat, json.data.img, "tebakgambar.jpg", caption, m),
    json.data,
    poin,
    setTimeout(() => {
      if (conn.tebakgambar[id]) conn.reply(m.chat, `Waktu habis!\nJawabannya adalah *${json.data.jawaban}*`, conn.tebakgambar[id][0])
      delete conn.tebakgambar[id]
    }, timeout),
  ]
}
handler.help = ["tebakgambar"]
handler.tags = ["game"]
handler.command = /^tebakgambar/i

module.exports = handler

// paste code di atas di plugins/tebakgambar.js
// note : Karna contoh disini adalah contoh casenya nurutomo,
// jadi silahkan sesuaikan dengan sc nya masing-masing,
// karna kemungkinan ada perbedaan nama variabel

let handler = (m) => m
handler.before = async function (m) {
  let id = m.chat
  if (!m.quoted || !m.quoted.fromMe || !m.quoted.isBaileys || !/Ketik.*hint/i.test(m.quoted.text)) return
  conn.tebakgambar = conn.tebakgambar ? conn.tebakgambar : {}
  if (!(id in conn.tebakgambar)) return m.reply("Soal itu telah berakhir")
  if (m.quoted.id == conn.tebakgambar[id][0].id) {
    let json = JSON.parse(JSON.stringify(conn.tebakgambar[id][1]))
    if (m.text.toLowerCase() == json.jawaban.toLowerCase()) {
      global.DATABASE._data.users[m.sender].exp += conn.tebakgambar[id][2]
      m.reply(`*Benar!*\n+${conn.tebakgambar[id][2]} XP`)
      clearTimeout(conn.tebakgambar[id][3])
      delete conn.tebakgambar[id]
    } else if (m.text.toLowerCase().endsWith(json.jawaban.split` `[1])) m.reply(`*Dikit Lagi!*`)
    else m.reply(`*Salah!*`)
  }
}
handler.exp = 0

module.exports = handler

// paste code di atas di plugins/tebakgambar_answer.js
        </span>
        <button id="copy-button">Copy</button>
      </div>
    </div>
  </div>
</div>

<script src="<%= url %>/views/highlight/highlightjs/highlight.pack.js"></script>